.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 90%;
  min-width: 50%;
  padding: 0 30px 1.5rem;
  min-height: 300px;
  background-color: var(--bg-base-color);
  word-wrap: break-word;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px 3px 15px;
  margin: 0 -30px 20px;
  background-color: var(--modal-header-color);
}

.title {
  font-size: 1.25rem;
}

.form {
  text-align: left;
}

.form > * {
  display: block;
}

.label {
  font-weight: bold;
}

.textarea {
  width: 100%;
  resize: none;
  font-size: 1.3rem;
}

.buttons {
  margin-top: 1.5rem;
  text-align: center;
}

.buttons > *:not(:last-child) {
  margin-right: 0.5rem;
}
