html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --inactive-color: lightgray;
  --calendar-border-color: darkgray;
  --current-highlight-color: orangered;
  --bg-base-color: white;
  --bg-active-color: black;
  --bg-button-color: gray;
  --filled-color: gold;
  --modal-header-color: whitesmoke;
  --backdrop-color: rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
