.prevMonth,
.nextMonth {
  color: var(--inactive-color);
}

.filled {
  background-color: var(--filled-color);
}

.day {
  composes: base from '../../buttons/Button.module.css';

  position: relative;
  flex-basis: calc(100% / 7);
  min-height: calc(100vmin / 8);
  border-top: 1px solid var(--calendar-border-color);
  border-right: 1px solid var(--calendar-border-color);
  text-align: left;
  text-decoration: none;
  overflow: hidden;
  background-color: var(--bg-base-color);
  transition: all 0.1s;
}

.day:hover {
  box-shadow: 0 0 1.5rem var(--calendar-border-color);
  transform: scale(1.1);
  z-index: 2;
}

.day:nth-child(7n) {
  border-right: none;
}

.current::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 4px var(--current-highlight-color);
}

.info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.caption {
  padding: calc(1rem / 4) calc(1rem / 4) 0;
}

.data {
  padding: calc(1rem / 4);
  flex-grow: 1;
}

.formatter {
  margin: 0;
}
